<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Add a comment" %>
    <%= f.text_field :text %>
  </div>

  <%= f.hidden_field :post_id, :value => params[:id] %>

  <% if session[:username].present? %>
  	<%= f.hidden_field :username, :value => session[:username] %>
  <% else %>
    <%= f.hidden_field :username, :value => "Anonymous" %>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <% if comment.username == "Anonymous" %>
    <b>Anonymous</b>
  <% else %>
    <b><%= link_to "#{comment.username}", "/#{comment.username}" %></b>
  <% end %>
  on <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %><br>
  <%= comment.text %><br><br> 
<% end %>
