<div class="row">
  <div class="span12">
    <h1 class="page-header"><style type="text/css">
        h1 { text-align:center; }
    </style><%= @username %>'s Posts</h1>
    
    <% if @viewed_id == @curruser_id %> 
        <%= link_to 'Create New Post', new_post_path %>
    <% else %>
        <%= link_to "Subscribe to #{@username}", root_url %>    
    <% end %>
    <br><br>

    <% @posts.each do |post| %>
       
        <n style="font-size:20px"><b><%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></b></n>
        <p></p>
        <%= post.text %>
        <p></p>
        <% if post.url.present? %>
            <%= image_tag("#{post.url}", :height => '300', :width => '300') %>
        <% end %><br>

        <% if @viewed_id == @curruser_id %>
            <%= link_to 'View Comments', post %> |
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Any comments on this post will also be permanently deleted.  Select OK to confirm deletion.' } %>
        <% else %>
              <%= link_to 'Add Comment', post %>
        <% end %>
        <hr>
        
    <% end %>

    
  </div>
</div>