<div class="row">
  <div class="span12">
    <h1 class="page-header">My Posts</h1>
    
    <style type="text/css">
        body { text-align:center; }
    </style>
    
    <%= link_to 'New Post', new_post_path %><br>

    <% @posts.each do |post| %>
        <c style="font-weight:250"><b><%= post.user.username %></b></c>
        <n style="font-size:10px">at
        <%= post.created_at.strftime("%d %B %Y at %I:%M %p") %></n>
        <p></p>
        <%= post.message %>
        <p></p>
        <% if post.fileName.present? %>
            <%= image_tag("#{post.fileName}", :height => '300', :width => '300') %>
        <% end %><br>

        <%= link_to 'Comments', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>

        <hr>
        
    <% end %>

    
  </div>
</div>

