<p id="notice"><%= notice %></p>

 <n style="font-size:20px"><b><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></b></n>
        <p></p>
        <%= @post.text %>
        <p></p>
        <% if @post.url.present? %>
            <%= image_tag("#{@post.url}", :height => '300', :width => '300') %>
        <% end %><br>

<%= link_to 'Back', "/#{session[:vieweduser]}" %>

<br><hr><hr>
<%= render 'comments' %>