<div class="row">
  <div class="span12">
    <h1 class="page-header">Journal Posts</h1>
    
    <style type="text/css">
    	body { text-align:center; }
    </style>
  	
    <% @randomPost.each do |post| %>
    	<c style="font-weight:250"><%= post.user.username %></c>
    	&nbsp&nbsp&nbsp <n style="font-size:8px">at
    	<%= post.created_at.strftime("%d %B %Y at %I:%M%p") %></n>
    	<p></p>
    	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    	<%= post.title %>
    	<p></p>
    	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    	<%= post.message %>
    	<p></p>
    	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    	<% if post.fileName.present? %>
        	<%= image_tag("#{post.fileName}", :height => '100', :width => '100') %>
        <% end %> 
        <hr>
        
    <% end %>

    
  </div>
</div>

