<!DOCTYPE html>
<html>
<head>
  <title>FinalProjectApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <hr><hr><h1>CSPP Journal</h1><br>
    <nav>
      <%= link_to "Home", root_url %>
    </nav>
    <hr><hr>
  </header>



<%= yield %>

</body>
</html>
